/*------------------------------------*    #RESET
\*------------------------------------*/
/**
 * Use border box on all elements
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  max-width: 1280px;
  margin: 0 auto; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

[role=main] {
  flex: 1; }

/*------------------------------------*
    //ADJUSTABLE BREAKPOINTS - Mixin


    // Ref: http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin

\*------------------------------------*/
/*------------------------------------*
    Examples: 

    //min-width (20em)
    .example {
    @include mq(320) {
        width: 100%;
        }
    }

    
    // min-width (20em) set & IE9 fallback support
    .example {
        @include mq(320, true) {
            width: 100%;
        }
    }

    // max-width (20em) & IE support false
    .example {
        @include mq(320, false, max) {
            width: 100%;
        }
    }

    //min-height
    .example {
        @include mq(320, false, min, height) {
            width: 100%;
        }
    }

    //max-height
    .example {
        @include mq(320, false, max, height) {
            width: 100%;
        }
    }


\*------------------------------------*/
.margin-0 {
  margin: 0px !important; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-left-0 {
  margin-left: 0px !important; }

.margin-bottom-0 {
  margin-bottom: 0px !important; }

.margin-right-0 {
  margin-right: 0px !important; }

.margin-top-neg-0 {
  margin-top: -0px !important; }

.margin-left-neg-0 {
  margin-left: -0px !important; }

.margin-bottom-neg-0 {
  margin-bottom: -0px !important; }

.margin-right-neg-0 {
  margin-right: -0px !important; }

.margin-10 {
  margin: 10px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-left-10 {
  margin-left: 10px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

.margin-top-neg-10 {
  margin-top: -10px !important; }

.margin-left-neg-10 {
  margin-left: -10px !important; }

.margin-bottom-neg-10 {
  margin-bottom: -10px !important; }

.margin-right-neg-10 {
  margin-right: -10px !important; }

.margin-20 {
  margin: 20px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-left-20 {
  margin-left: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-right-20 {
  margin-right: 20px !important; }

.margin-top-neg-20 {
  margin-top: -20px !important; }

.margin-left-neg-20 {
  margin-left: -20px !important; }

.margin-bottom-neg-20 {
  margin-bottom: -20px !important; }

.margin-right-neg-20 {
  margin-right: -20px !important; }

.margin-30 {
  margin: 30px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-left-30 {
  margin-left: 30px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-right-30 {
  margin-right: 30px !important; }

.margin-top-neg-30 {
  margin-top: -30px !important; }

.margin-left-neg-30 {
  margin-left: -30px !important; }

.margin-bottom-neg-30 {
  margin-bottom: -30px !important; }

.margin-right-neg-30 {
  margin-right: -30px !important; }

.margin-40 {
  margin: 40px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-left-40 {
  margin-left: 40px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-right-40 {
  margin-right: 40px !important; }

.margin-top-neg-40 {
  margin-top: -40px !important; }

.margin-left-neg-40 {
  margin-left: -40px !important; }

.margin-bottom-neg-40 {
  margin-bottom: -40px !important; }

.margin-right-neg-40 {
  margin-right: -40px !important; }

.margin-50 {
  margin: 50px !important; }

.margin-top-50 {
  margin-top: 50px !important; }

.margin-left-50 {
  margin-left: 50px !important; }

.margin-bottom-50 {
  margin-bottom: 50px !important; }

.margin-right-50 {
  margin-right: 50px !important; }

.margin-top-neg-50 {
  margin-top: -50px !important; }

.margin-left-neg-50 {
  margin-left: -50px !important; }

.margin-bottom-neg-50 {
  margin-bottom: -50px !important; }

.margin-right-neg-50 {
  margin-right: -50px !important; }

.margin-60 {
  margin: 60px !important; }

.margin-top-60 {
  margin-top: 60px !important; }

.margin-left-60 {
  margin-left: 60px !important; }

.margin-bottom-60 {
  margin-bottom: 60px !important; }

.margin-right-60 {
  margin-right: 60px !important; }

.margin-top-neg-60 {
  margin-top: -60px !important; }

.margin-left-neg-60 {
  margin-left: -60px !important; }

.margin-bottom-neg-60 {
  margin-bottom: -60px !important; }

.margin-right-neg-60 {
  margin-right: -60px !important; }

.margin-70 {
  margin: 70px !important; }

.margin-top-70 {
  margin-top: 70px !important; }

.margin-left-70 {
  margin-left: 70px !important; }

.margin-bottom-70 {
  margin-bottom: 70px !important; }

.margin-right-70 {
  margin-right: 70px !important; }

.margin-top-neg-70 {
  margin-top: -70px !important; }

.margin-left-neg-70 {
  margin-left: -70px !important; }

.margin-bottom-neg-70 {
  margin-bottom: -70px !important; }

.margin-right-neg-70 {
  margin-right: -70px !important; }

.margin-80 {
  margin: 80px !important; }

.margin-top-80 {
  margin-top: 80px !important; }

.margin-left-80 {
  margin-left: 80px !important; }

.margin-bottom-80 {
  margin-bottom: 80px !important; }

.margin-right-80 {
  margin-right: 80px !important; }

.margin-top-neg-80 {
  margin-top: -80px !important; }

.margin-left-neg-80 {
  margin-left: -80px !important; }

.margin-bottom-neg-80 {
  margin-bottom: -80px !important; }

.margin-right-neg-80 {
  margin-right: -80px !important; }

.margin-90 {
  margin: 90px !important; }

.margin-top-90 {
  margin-top: 90px !important; }

.margin-left-90 {
  margin-left: 90px !important; }

.margin-bottom-90 {
  margin-bottom: 90px !important; }

.margin-right-90 {
  margin-right: 90px !important; }

.margin-top-neg-90 {
  margin-top: -90px !important; }

.margin-left-neg-90 {
  margin-left: -90px !important; }

.margin-bottom-neg-90 {
  margin-bottom: -90px !important; }

.margin-right-neg-90 {
  margin-right: -90px !important; }

.margin-100 {
  margin: 100px !important; }

.margin-top-100 {
  margin-top: 100px !important; }

.margin-left-100 {
  margin-left: 100px !important; }

.margin-bottom-100 {
  margin-bottom: 100px !important; }

.margin-right-100 {
  margin-right: 100px !important; }

.margin-top-neg-100 {
  margin-top: -100px !important; }

.margin-left-neg-100 {
  margin-left: -100px !important; }

.margin-bottom-neg-100 {
  margin-bottom: -100px !important; }

.margin-right-neg-100 {
  margin-right: -100px !important; }

.margin-110 {
  margin: 110px !important; }

.margin-top-110 {
  margin-top: 110px !important; }

.margin-left-110 {
  margin-left: 110px !important; }

.margin-bottom-110 {
  margin-bottom: 110px !important; }

.margin-right-110 {
  margin-right: 110px !important; }

.margin-top-neg-110 {
  margin-top: -110px !important; }

.margin-left-neg-110 {
  margin-left: -110px !important; }

.margin-bottom-neg-110 {
  margin-bottom: -110px !important; }

.margin-right-neg-110 {
  margin-right: -110px !important; }

.margin-120 {
  margin: 120px !important; }

.margin-top-120 {
  margin-top: 120px !important; }

.margin-left-120 {
  margin-left: 120px !important; }

.margin-bottom-120 {
  margin-bottom: 120px !important; }

.margin-right-120 {
  margin-right: 120px !important; }

.margin-top-neg-120 {
  margin-top: -120px !important; }

.margin-left-neg-120 {
  margin-left: -120px !important; }

.margin-bottom-neg-120 {
  margin-bottom: -120px !important; }

.margin-right-neg-120 {
  margin-right: -120px !important; }

.margin-130 {
  margin: 130px !important; }

.margin-top-130 {
  margin-top: 130px !important; }

.margin-left-130 {
  margin-left: 130px !important; }

.margin-bottom-130 {
  margin-bottom: 130px !important; }

.margin-right-130 {
  margin-right: 130px !important; }

.margin-top-neg-130 {
  margin-top: -130px !important; }

.margin-left-neg-130 {
  margin-left: -130px !important; }

.margin-bottom-neg-130 {
  margin-bottom: -130px !important; }

.margin-right-neg-130 {
  margin-right: -130px !important; }

.margin-140 {
  margin: 140px !important; }

.margin-top-140 {
  margin-top: 140px !important; }

.margin-left-140 {
  margin-left: 140px !important; }

.margin-bottom-140 {
  margin-bottom: 140px !important; }

.margin-right-140 {
  margin-right: 140px !important; }

.margin-top-neg-140 {
  margin-top: -140px !important; }

.margin-left-neg-140 {
  margin-left: -140px !important; }

.margin-bottom-neg-140 {
  margin-bottom: -140px !important; }

.margin-right-neg-140 {
  margin-right: -140px !important; }

.margin-150 {
  margin: 150px !important; }

.margin-top-150 {
  margin-top: 150px !important; }

.margin-left-150 {
  margin-left: 150px !important; }

.margin-bottom-150 {
  margin-bottom: 150px !important; }

.margin-right-150 {
  margin-right: 150px !important; }

.margin-top-neg-150 {
  margin-top: -150px !important; }

.margin-left-neg-150 {
  margin-left: -150px !important; }

.margin-bottom-neg-150 {
  margin-bottom: -150px !important; }

.margin-right-neg-150 {
  margin-right: -150px !important; }

.margin-160 {
  margin: 160px !important; }

.margin-top-160 {
  margin-top: 160px !important; }

.margin-left-160 {
  margin-left: 160px !important; }

.margin-bottom-160 {
  margin-bottom: 160px !important; }

.margin-right-160 {
  margin-right: 160px !important; }

.margin-top-neg-160 {
  margin-top: -160px !important; }

.margin-left-neg-160 {
  margin-left: -160px !important; }

.margin-bottom-neg-160 {
  margin-bottom: -160px !important; }

.margin-right-neg-160 {
  margin-right: -160px !important; }

.margin-170 {
  margin: 170px !important; }

.margin-top-170 {
  margin-top: 170px !important; }

.margin-left-170 {
  margin-left: 170px !important; }

.margin-bottom-170 {
  margin-bottom: 170px !important; }

.margin-right-170 {
  margin-right: 170px !important; }

.margin-top-neg-170 {
  margin-top: -170px !important; }

.margin-left-neg-170 {
  margin-left: -170px !important; }

.margin-bottom-neg-170 {
  margin-bottom: -170px !important; }

.margin-right-neg-170 {
  margin-right: -170px !important; }

.margin-180 {
  margin: 180px !important; }

.margin-top-180 {
  margin-top: 180px !important; }

.margin-left-180 {
  margin-left: 180px !important; }

.margin-bottom-180 {
  margin-bottom: 180px !important; }

.margin-right-180 {
  margin-right: 180px !important; }

.margin-top-neg-180 {
  margin-top: -180px !important; }

.margin-left-neg-180 {
  margin-left: -180px !important; }

.margin-bottom-neg-180 {
  margin-bottom: -180px !important; }

.margin-right-neg-180 {
  margin-right: -180px !important; }

.margin-190 {
  margin: 190px !important; }

.margin-top-190 {
  margin-top: 190px !important; }

.margin-left-190 {
  margin-left: 190px !important; }

.margin-bottom-190 {
  margin-bottom: 190px !important; }

.margin-right-190 {
  margin-right: 190px !important; }

.margin-top-neg-190 {
  margin-top: -190px !important; }

.margin-left-neg-190 {
  margin-left: -190px !important; }

.margin-bottom-neg-190 {
  margin-bottom: -190px !important; }

.margin-right-neg-190 {
  margin-right: -190px !important; }

.margin-200 {
  margin: 200px !important; }

.margin-top-200 {
  margin-top: 200px !important; }

.margin-left-200 {
  margin-left: 200px !important; }

.margin-bottom-200 {
  margin-bottom: 200px !important; }

.margin-right-200 {
  margin-right: 200px !important; }

.margin-top-neg-200 {
  margin-top: -200px !important; }

.margin-left-neg-200 {
  margin-left: -200px !important; }

.margin-bottom-neg-200 {
  margin-bottom: -200px !important; }

.margin-right-neg-200 {
  margin-right: -200px !important; }

@media (max-width: 48em) {
  .margin-0-sm {
    margin: 0px !important; }
  .margin-top-0-sm {
    margin-top: 0px !important; }
  .margin-left-0-sm {
    margin-left: 0px !important; }
  .margin-bottom-0-sm {
    margin-bottom: 0px !important; }
  .margin-right-0-sm {
    margin-right: 0px !important; } }

@media (max-width: 48em) {
  .margin-10-sm {
    margin: 10px !important; }
  .margin-top-10-sm {
    margin-top: 10px !important; }
  .margin-left-10-sm {
    margin-left: 10px !important; }
  .margin-bottom-10-sm {
    margin-bottom: 10px !important; }
  .margin-right-10-sm {
    margin-right: 10px !important; } }

@media (max-width: 48em) {
  .margin-20-sm {
    margin: 20px !important; }
  .margin-top-20-sm {
    margin-top: 20px !important; }
  .margin-left-20-sm {
    margin-left: 20px !important; }
  .margin-bottom-20-sm {
    margin-bottom: 20px !important; }
  .margin-right-20-sm {
    margin-right: 20px !important; } }

@media (max-width: 48em) {
  .margin-30-sm {
    margin: 30px !important; }
  .margin-top-30-sm {
    margin-top: 30px !important; }
  .margin-left-30-sm {
    margin-left: 30px !important; }
  .margin-bottom-30-sm {
    margin-bottom: 30px !important; }
  .margin-right-30-sm {
    margin-right: 30px !important; } }

@media (max-width: 48em) {
  .margin-40-sm {
    margin: 40px !important; }
  .margin-top-40-sm {
    margin-top: 40px !important; }
  .margin-left-40-sm {
    margin-left: 40px !important; }
  .margin-bottom-40-sm {
    margin-bottom: 40px !important; }
  .margin-right-40-sm {
    margin-right: 40px !important; } }

@media (max-width: 48em) {
  .margin-50-sm {
    margin: 50px !important; }
  .margin-top-50-sm {
    margin-top: 50px !important; }
  .margin-left-50-sm {
    margin-left: 50px !important; }
  .margin-bottom-50-sm {
    margin-bottom: 50px !important; }
  .margin-right-50-sm {
    margin-right: 50px !important; } }

@media (max-width: 48em) {
  .margin-60-sm {
    margin: 60px !important; }
  .margin-top-60-sm {
    margin-top: 60px !important; }
  .margin-left-60-sm {
    margin-left: 60px !important; }
  .margin-bottom-60-sm {
    margin-bottom: 60px !important; }
  .margin-right-60-sm {
    margin-right: 60px !important; } }

@media (max-width: 48em) {
  .margin-70-sm {
    margin: 70px !important; }
  .margin-top-70-sm {
    margin-top: 70px !important; }
  .margin-left-70-sm {
    margin-left: 70px !important; }
  .margin-bottom-70-sm {
    margin-bottom: 70px !important; }
  .margin-right-70-sm {
    margin-right: 70px !important; } }

@media (max-width: 48em) {
  .margin-80-sm {
    margin: 80px !important; }
  .margin-top-80-sm {
    margin-top: 80px !important; }
  .margin-left-80-sm {
    margin-left: 80px !important; }
  .margin-bottom-80-sm {
    margin-bottom: 80px !important; }
  .margin-right-80-sm {
    margin-right: 80px !important; } }

@media (max-width: 48em) {
  .margin-90-sm {
    margin: 90px !important; }
  .margin-top-90-sm {
    margin-top: 90px !important; }
  .margin-left-90-sm {
    margin-left: 90px !important; }
  .margin-bottom-90-sm {
    margin-bottom: 90px !important; }
  .margin-right-90-sm {
    margin-right: 90px !important; } }

@media (max-width: 48em) {
  .margin-100-sm {
    margin: 100px !important; }
  .margin-top-100-sm {
    margin-top: 100px !important; }
  .margin-left-100-sm {
    margin-left: 100px !important; }
  .margin-bottom-100-sm {
    margin-bottom: 100px !important; }
  .margin-right-100-sm {
    margin-right: 100px !important; } }

@media (max-width: 48em) {
  .margin-110-sm {
    margin: 110px !important; }
  .margin-top-110-sm {
    margin-top: 110px !important; }
  .margin-left-110-sm {
    margin-left: 110px !important; }
  .margin-bottom-110-sm {
    margin-bottom: 110px !important; }
  .margin-right-110-sm {
    margin-right: 110px !important; } }

@media (max-width: 48em) {
  .margin-120-sm {
    margin: 120px !important; }
  .margin-top-120-sm {
    margin-top: 120px !important; }
  .margin-left-120-sm {
    margin-left: 120px !important; }
  .margin-bottom-120-sm {
    margin-bottom: 120px !important; }
  .margin-right-120-sm {
    margin-right: 120px !important; } }

@media (max-width: 48em) {
  .margin-130-sm {
    margin: 130px !important; }
  .margin-top-130-sm {
    margin-top: 130px !important; }
  .margin-left-130-sm {
    margin-left: 130px !important; }
  .margin-bottom-130-sm {
    margin-bottom: 130px !important; }
  .margin-right-130-sm {
    margin-right: 130px !important; } }

@media (max-width: 48em) {
  .margin-140-sm {
    margin: 140px !important; }
  .margin-top-140-sm {
    margin-top: 140px !important; }
  .margin-left-140-sm {
    margin-left: 140px !important; }
  .margin-bottom-140-sm {
    margin-bottom: 140px !important; }
  .margin-right-140-sm {
    margin-right: 140px !important; } }

@media (max-width: 48em) {
  .margin-150-sm {
    margin: 150px !important; }
  .margin-top-150-sm {
    margin-top: 150px !important; }
  .margin-left-150-sm {
    margin-left: 150px !important; }
  .margin-bottom-150-sm {
    margin-bottom: 150px !important; }
  .margin-right-150-sm {
    margin-right: 150px !important; } }

@media (max-width: 48em) {
  .margin-160-sm {
    margin: 160px !important; }
  .margin-top-160-sm {
    margin-top: 160px !important; }
  .margin-left-160-sm {
    margin-left: 160px !important; }
  .margin-bottom-160-sm {
    margin-bottom: 160px !important; }
  .margin-right-160-sm {
    margin-right: 160px !important; } }

@media (max-width: 48em) {
  .margin-170-sm {
    margin: 170px !important; }
  .margin-top-170-sm {
    margin-top: 170px !important; }
  .margin-left-170-sm {
    margin-left: 170px !important; }
  .margin-bottom-170-sm {
    margin-bottom: 170px !important; }
  .margin-right-170-sm {
    margin-right: 170px !important; } }

@media (max-width: 48em) {
  .margin-180-sm {
    margin: 180px !important; }
  .margin-top-180-sm {
    margin-top: 180px !important; }
  .margin-left-180-sm {
    margin-left: 180px !important; }
  .margin-bottom-180-sm {
    margin-bottom: 180px !important; }
  .margin-right-180-sm {
    margin-right: 180px !important; } }

@media (max-width: 48em) {
  .margin-190-sm {
    margin: 190px !important; }
  .margin-top-190-sm {
    margin-top: 190px !important; }
  .margin-left-190-sm {
    margin-left: 190px !important; }
  .margin-bottom-190-sm {
    margin-bottom: 190px !important; }
  .margin-right-190-sm {
    margin-right: 190px !important; } }

@media (max-width: 48em) {
  .margin-200-sm {
    margin: 200px !important; }
  .margin-top-200-sm {
    margin-top: 200px !important; }
  .margin-left-200-sm {
    margin-left: 200px !important; }
  .margin-bottom-200-sm {
    margin-bottom: 200px !important; }
  .margin-right-200-sm {
    margin-right: 200px !important; } }

.padding-0 {
  padding: 0px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-left-0 {
  padding-left: 0px !important; }

.padding-bottom-0 {
  padding-bottom: 0px !important; }

.padding-right-0 {
  padding-right: 0px !important; }

.padding-10 {
  padding: 10px !important; }

.padding-top-10 {
  padding-top: 10px !important; }

.padding-left-10 {
  padding-left: 10px !important; }

.padding-bottom-10 {
  padding-bottom: 10px !important; }

.padding-right-10 {
  padding-right: 10px !important; }

.padding-20 {
  padding: 20px !important; }

.padding-top-20 {
  padding-top: 20px !important; }

.padding-left-20 {
  padding-left: 20px !important; }

.padding-bottom-20 {
  padding-bottom: 20px !important; }

.padding-right-20 {
  padding-right: 20px !important; }

.padding-30 {
  padding: 30px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-left-30 {
  padding-left: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

.padding-right-30 {
  padding-right: 30px !important; }

.padding-40 {
  padding: 40px !important; }

.padding-top-40 {
  padding-top: 40px !important; }

.padding-left-40 {
  padding-left: 40px !important; }

.padding-bottom-40 {
  padding-bottom: 40px !important; }

.padding-right-40 {
  padding-right: 40px !important; }

.padding-50 {
  padding: 50px !important; }

.padding-top-50 {
  padding-top: 50px !important; }

.padding-left-50 {
  padding-left: 50px !important; }

.padding-bottom-50 {
  padding-bottom: 50px !important; }

.padding-right-50 {
  padding-right: 50px !important; }

.padding-60 {
  padding: 60px !important; }

.padding-top-60 {
  padding-top: 60px !important; }

.padding-left-60 {
  padding-left: 60px !important; }

.padding-bottom-60 {
  padding-bottom: 60px !important; }

.padding-right-60 {
  padding-right: 60px !important; }

.padding-70 {
  padding: 70px !important; }

.padding-top-70 {
  padding-top: 70px !important; }

.padding-left-70 {
  padding-left: 70px !important; }

.padding-bottom-70 {
  padding-bottom: 70px !important; }

.padding-right-70 {
  padding-right: 70px !important; }

.padding-80 {
  padding: 80px !important; }

.padding-top-80 {
  padding-top: 80px !important; }

.padding-left-80 {
  padding-left: 80px !important; }

.padding-bottom-80 {
  padding-bottom: 80px !important; }

.padding-right-80 {
  padding-right: 80px !important; }

.padding-90 {
  padding: 90px !important; }

.padding-top-90 {
  padding-top: 90px !important; }

.padding-left-90 {
  padding-left: 90px !important; }

.padding-bottom-90 {
  padding-bottom: 90px !important; }

.padding-right-90 {
  padding-right: 90px !important; }

.padding-100 {
  padding: 100px !important; }

.padding-top-100 {
  padding-top: 100px !important; }

.padding-left-100 {
  padding-left: 100px !important; }

.padding-bottom-100 {
  padding-bottom: 100px !important; }

.padding-right-100 {
  padding-right: 100px !important; }

.padding-110 {
  padding: 110px !important; }

.padding-top-110 {
  padding-top: 110px !important; }

.padding-left-110 {
  padding-left: 110px !important; }

.padding-bottom-110 {
  padding-bottom: 110px !important; }

.padding-right-110 {
  padding-right: 110px !important; }

.padding-120 {
  padding: 120px !important; }

.padding-top-120 {
  padding-top: 120px !important; }

.padding-left-120 {
  padding-left: 120px !important; }

.padding-bottom-120 {
  padding-bottom: 120px !important; }

.padding-right-120 {
  padding-right: 120px !important; }

.padding-130 {
  padding: 130px !important; }

.padding-top-130 {
  padding-top: 130px !important; }

.padding-left-130 {
  padding-left: 130px !important; }

.padding-bottom-130 {
  padding-bottom: 130px !important; }

.padding-right-130 {
  padding-right: 130px !important; }

.padding-140 {
  padding: 140px !important; }

.padding-top-140 {
  padding-top: 140px !important; }

.padding-left-140 {
  padding-left: 140px !important; }

.padding-bottom-140 {
  padding-bottom: 140px !important; }

.padding-right-140 {
  padding-right: 140px !important; }

.padding-150 {
  padding: 150px !important; }

.padding-top-150 {
  padding-top: 150px !important; }

.padding-left-150 {
  padding-left: 150px !important; }

.padding-bottom-150 {
  padding-bottom: 150px !important; }

.padding-right-150 {
  padding-right: 150px !important; }

.padding-160 {
  padding: 160px !important; }

.padding-top-160 {
  padding-top: 160px !important; }

.padding-left-160 {
  padding-left: 160px !important; }

.padding-bottom-160 {
  padding-bottom: 160px !important; }

.padding-right-160 {
  padding-right: 160px !important; }

.padding-170 {
  padding: 170px !important; }

.padding-top-170 {
  padding-top: 170px !important; }

.padding-left-170 {
  padding-left: 170px !important; }

.padding-bottom-170 {
  padding-bottom: 170px !important; }

.padding-right-170 {
  padding-right: 170px !important; }

.padding-180 {
  padding: 180px !important; }

.padding-top-180 {
  padding-top: 180px !important; }

.padding-left-180 {
  padding-left: 180px !important; }

.padding-bottom-180 {
  padding-bottom: 180px !important; }

.padding-right-180 {
  padding-right: 180px !important; }

.padding-190 {
  padding: 190px !important; }

.padding-top-190 {
  padding-top: 190px !important; }

.padding-left-190 {
  padding-left: 190px !important; }

.padding-bottom-190 {
  padding-bottom: 190px !important; }

.padding-right-190 {
  padding-right: 190px !important; }

.padding-200 {
  padding: 200px !important; }

.padding-top-200 {
  padding-top: 200px !important; }

.padding-left-200 {
  padding-left: 200px !important; }

.padding-bottom-200 {
  padding-bottom: 200px !important; }

.padding-right-200 {
  padding-right: 200px !important; }

@media (max-width: 48em) {
  .padding-0-sm {
    padding: 0px !important; }
  .padding-top-0-sm {
    padding-top: 0px !important; }
  .padding-left-0-sm {
    padding-left: 0px !important; }
  .padding-bottom-0-sm {
    padding-bottom: 0px !important; }
  .padding-right-0-sm {
    padding-right: 0px !important; } }

@media (max-width: 48em) {
  .padding-10-sm {
    padding: 10px !important; }
  .padding-top-10-sm {
    padding-top: 10px !important; }
  .padding-left-10-sm {
    padding-left: 10px !important; }
  .padding-bottom-10-sm {
    padding-bottom: 10px !important; }
  .padding-right-10-sm {
    padding-right: 10px !important; } }

@media (max-width: 48em) {
  .padding-20-sm {
    padding: 20px !important; }
  .padding-top-20-sm {
    padding-top: 20px !important; }
  .padding-left-20-sm {
    padding-left: 20px !important; }
  .padding-bottom-20-sm {
    padding-bottom: 20px !important; }
  .padding-right-20-sm {
    padding-right: 20px !important; } }

@media (max-width: 48em) {
  .padding-30-sm {
    padding: 30px !important; }
  .padding-top-30-sm {
    padding-top: 30px !important; }
  .padding-left-30-sm {
    padding-left: 30px !important; }
  .padding-bottom-30-sm {
    padding-bottom: 30px !important; }
  .padding-right-30-sm {
    padding-right: 30px !important; } }

@media (max-width: 48em) {
  .padding-40-sm {
    padding: 40px !important; }
  .padding-top-40-sm {
    padding-top: 40px !important; }
  .padding-left-40-sm {
    padding-left: 40px !important; }
  .padding-bottom-40-sm {
    padding-bottom: 40px !important; }
  .padding-right-40-sm {
    padding-right: 40px !important; } }

@media (max-width: 48em) {
  .padding-50-sm {
    padding: 50px !important; }
  .padding-top-50-sm {
    padding-top: 50px !important; }
  .padding-left-50-sm {
    padding-left: 50px !important; }
  .padding-bottom-50-sm {
    padding-bottom: 50px !important; }
  .padding-right-50-sm {
    padding-right: 50px !important; } }

@media (max-width: 48em) {
  .padding-60-sm {
    padding: 60px !important; }
  .padding-top-60-sm {
    padding-top: 60px !important; }
  .padding-left-60-sm {
    padding-left: 60px !important; }
  .padding-bottom-60-sm {
    padding-bottom: 60px !important; }
  .padding-right-60-sm {
    padding-right: 60px !important; } }

@media (max-width: 48em) {
  .padding-70-sm {
    padding: 70px !important; }
  .padding-top-70-sm {
    padding-top: 70px !important; }
  .padding-left-70-sm {
    padding-left: 70px !important; }
  .padding-bottom-70-sm {
    padding-bottom: 70px !important; }
  .padding-right-70-sm {
    padding-right: 70px !important; } }

@media (max-width: 48em) {
  .padding-80-sm {
    padding: 80px !important; }
  .padding-top-80-sm {
    padding-top: 80px !important; }
  .padding-left-80-sm {
    padding-left: 80px !important; }
  .padding-bottom-80-sm {
    padding-bottom: 80px !important; }
  .padding-right-80-sm {
    padding-right: 80px !important; } }

@media (max-width: 48em) {
  .padding-90-sm {
    padding: 90px !important; }
  .padding-top-90-sm {
    padding-top: 90px !important; }
  .padding-left-90-sm {
    padding-left: 90px !important; }
  .padding-bottom-90-sm {
    padding-bottom: 90px !important; }
  .padding-right-90-sm {
    padding-right: 90px !important; } }

@media (max-width: 48em) {
  .padding-100-sm {
    padding: 100px !important; }
  .padding-top-100-sm {
    padding-top: 100px !important; }
  .padding-left-100-sm {
    padding-left: 100px !important; }
  .padding-bottom-100-sm {
    padding-bottom: 100px !important; }
  .padding-right-100-sm {
    padding-right: 100px !important; } }

@media (max-width: 48em) {
  .padding-110-sm {
    padding: 110px !important; }
  .padding-top-110-sm {
    padding-top: 110px !important; }
  .padding-left-110-sm {
    padding-left: 110px !important; }
  .padding-bottom-110-sm {
    padding-bottom: 110px !important; }
  .padding-right-110-sm {
    padding-right: 110px !important; } }

@media (max-width: 48em) {
  .padding-120-sm {
    padding: 120px !important; }
  .padding-top-120-sm {
    padding-top: 120px !important; }
  .padding-left-120-sm {
    padding-left: 120px !important; }
  .padding-bottom-120-sm {
    padding-bottom: 120px !important; }
  .padding-right-120-sm {
    padding-right: 120px !important; } }

@media (max-width: 48em) {
  .padding-130-sm {
    padding: 130px !important; }
  .padding-top-130-sm {
    padding-top: 130px !important; }
  .padding-left-130-sm {
    padding-left: 130px !important; }
  .padding-bottom-130-sm {
    padding-bottom: 130px !important; }
  .padding-right-130-sm {
    padding-right: 130px !important; } }

@media (max-width: 48em) {
  .padding-140-sm {
    padding: 140px !important; }
  .padding-top-140-sm {
    padding-top: 140px !important; }
  .padding-left-140-sm {
    padding-left: 140px !important; }
  .padding-bottom-140-sm {
    padding-bottom: 140px !important; }
  .padding-right-140-sm {
    padding-right: 140px !important; } }

@media (max-width: 48em) {
  .padding-150-sm {
    padding: 150px !important; }
  .padding-top-150-sm {
    padding-top: 150px !important; }
  .padding-left-150-sm {
    padding-left: 150px !important; }
  .padding-bottom-150-sm {
    padding-bottom: 150px !important; }
  .padding-right-150-sm {
    padding-right: 150px !important; } }

@media (max-width: 48em) {
  .padding-160-sm {
    padding: 160px !important; }
  .padding-top-160-sm {
    padding-top: 160px !important; }
  .padding-left-160-sm {
    padding-left: 160px !important; }
  .padding-bottom-160-sm {
    padding-bottom: 160px !important; }
  .padding-right-160-sm {
    padding-right: 160px !important; } }

@media (max-width: 48em) {
  .padding-170-sm {
    padding: 170px !important; }
  .padding-top-170-sm {
    padding-top: 170px !important; }
  .padding-left-170-sm {
    padding-left: 170px !important; }
  .padding-bottom-170-sm {
    padding-bottom: 170px !important; }
  .padding-right-170-sm {
    padding-right: 170px !important; } }

@media (max-width: 48em) {
  .padding-180-sm {
    padding: 180px !important; }
  .padding-top-180-sm {
    padding-top: 180px !important; }
  .padding-left-180-sm {
    padding-left: 180px !important; }
  .padding-bottom-180-sm {
    padding-bottom: 180px !important; }
  .padding-right-180-sm {
    padding-right: 180px !important; } }

@media (max-width: 48em) {
  .padding-190-sm {
    padding: 190px !important; }
  .padding-top-190-sm {
    padding-top: 190px !important; }
  .padding-left-190-sm {
    padding-left: 190px !important; }
  .padding-bottom-190-sm {
    padding-bottom: 190px !important; }
  .padding-right-190-sm {
    padding-right: 190px !important; } }

@media (max-width: 48em) {
  .padding-200-sm {
    padding: 200px !important; }
  .padding-top-200-sm {
    padding-top: 200px !important; }
  .padding-left-200-sm {
    padding-left: 200px !important; }
  .padding-bottom-200-sm {
    padding-bottom: 200px !important; }
  .padding-right-200-sm {
    padding-right: 200px !important; } }
